.window {
    margin: auto;
    width: 60vw;
    border: 3px solid black;
    padding: 10px;
    height: 80vh;
}

.character{
    background-color: red;
    height: 8vh;
    width: 5vw;
    position: relative;
    top: 90%;
}

.enemy1{
    background-color: blue;
    position: relative;
}

@keyframes moveAnimation {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(30vw);
    }

}

.bullet {
  top: 90%;
  background-color: black;
  position: relative;
  height: 5vh;
  width: 2vw;
}